.home {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
}

.xinto * {
  border: var(--color-outline) dashed;
  border-radius: 0.5rem;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
}

.home-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home-info-media {
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 0;
}

.home-info-media > li {
  list-style: inside;
}

@media (min-width: 600px) {
  .home-container {
    flex-direction: row;
  }

  .xinto * {
    width: 15rem;
  }
}

@media (min-width: 768px) {
  .xinto * {
    width: 20rem;
  }
}