.topbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  gap: 1rem;
  border-bottom: 1px solid var(--color-outline);
}

.topbar-links {
  display: flex;
  gap: 0.5rem;
}

.topbar-link {
  border-radius: 0.5rem;
  padding: 0.6rem;
  text-decoration: none;
}

.topbar-link[data-selected=true] {
  outline: 2px solid var(--color-outline);
}

.topbar-link:hover {
  background: var(--color-surface);
}
