.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.pages {
  padding: 20px;
  height: 100%;
}

@media (min-width: 768px) {
  .app {
    gap: 15px;
  }

  .pages {
    padding: 25px 75px;
  }
}

@media (min-width: 992px) {
  .pages {
    padding: 25px 150px;
  }
}